{% extends 'blog/base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2>Login: </h2>
    <h3>(Must Be SuperUser, Please Check Admin For Issues)</h3>
    {% if form.errors %}
        <p>Your Username and Password didn't Match. Please Try Again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
